<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mylike.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.mylike.entity.Article" >
    <id column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_title" property="aTitle" jdbcType="VARCHAR" />
    <result column="a_content" property="aContent" jdbcType="LONGVARCHAR" />
    <result column="a_coverImg" property="aCoverimg" jdbcType="LONGVARCHAR" />
    <result column="a_signature" property="aSignature" jdbcType="VARCHAR" />
    <result column="a_addTime" property="aAddtime" jdbcType="TIMESTAMP" />
    <result column="a_synopsis" property="aSynopsis" jdbcType="LONGVARCHAR" />
    <result column="a_sortId" property="aSortId" jdbcType="INTEGER" />
    <result column="a_sonId" property="aSonId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mylike.entity.Article" useGeneratedKeys="true" keyProperty="aId">
    insert into article (a_id, a_title, a_content, 
      a_coverImg, a_signature, a_addTime, 
      a_synopsis, a_sortId, a_sonId
      )
    values (#{aId,jdbcType=INTEGER}, #{aTitle,jdbcType=VARCHAR}, <![CDATA[ #{aContent,jdbcType=LONGVARCHAR} ]]>,
      #{aCoverimg,jdbcType=LONGVARCHAR}, #{aSignature,jdbcType=VARCHAR}, #{aAddtime,jdbcType=TIMESTAMP},
      #{aSynopsis,jdbcType=LONGVARCHAR}, #{aSortId,jdbcType=INTEGER}, #{aSonId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mylike.entity.Article" >
    update article
    set a_title = #{aTitle,jdbcType=VARCHAR},
      a_content = <![CDATA[#{aContent,jdbcType=LONGVARCHAR} ]]>,
      a_coverImg = #{aCoverimg,jdbcType=LONGVARCHAR},
      a_signature = #{aSignature,jdbcType=VARCHAR},
      a_addTime = #{aAddtime,jdbcType=TIMESTAMP},
      a_synopsis = #{aSynopsis,jdbcType=LONGVARCHAR},
      a_sortId = #{aSortId,jdbcType=INTEGER},
      a_sonId = #{aSonId,jdbcType=INTEGER}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select a_id, a_title, a_content, a_coverImg, a_signature, a_addTime, a_synopsis,
    a_sortId, a_sonId
    from article
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select a_id, a_title, a_coverImg, a_signature, a_addTime, a_synopsis,
    a_sortId, a_sonId
    from article
  </select>
  <select id="showArticleSort" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select a_id, a_title, a_content, a_coverImg, a_signature, a_addTime, a_synopsis,
    a_sortId, a_sonId
    from article
    where a_sonId = #{sId,jdbcType=INTEGER}
  </select>
  <select id="selectByTitle" resultMap="BaseResultMap" parameterType="java.lang.String">
    select a_id, a_title, a_content, a_coverImg, a_signature, a_addTime, a_synopsis,
    a_sortId, a_sonId
    from article
    where a_title=#{title}
  </select>
</mapper>